.footer {
  max-width: 880px;
  display: grid;
  justify-content: center;
  grid-template-areas: "copyright";
  grid-template-columns: minmax(auto, 320px) auto;
  color: #545454;
  font-size: 18px;
  line-height: 1;
  margin-top: 67px;
}
