.header {
  max-width: 880px;
  margin-top: 45px;
  border-bottom: 2px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  margin-bottom: 45px;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
  }

  .header__image {
    margin-top: 28px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 775px) {
  .header__image {
    margin-left: 20px;
  }
}
